@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --white: hsl(0, 0%, 100%);
  --dark: hsl(201, 24%, 14%);
  --light: hsl(0, 0%, 90%);
  --primary: hsl(207, 71%, 45%);
  --secondary: 	hsl(206, 91%, 87%);
  --tertiary: hsl(29, 98%, 50%);
  --primary-hover: hsl(207, 71%, 30%);
  --secondary-hover: hsl(206, 91%, 72%);
  --tertiary-hover: hsl(29, 98%, 35%);
  --dark-hover: #141c20;
}

html {
  scroll-behavior: smooth;
}

html, body {
  background-color: var(--dark);
}

.bg-primary-custom, .btn-primary-custom {
  background-color: var(--primary);
  color: var(--white);
}

.bg-secondary-custom, .btn-secondary-custom {
  background-color: var(--secondary);
}

.bg-tertiary-custom, .btn-tertiary-custom {
  background-color: var(--tertiary);
  color: var(--white);
}

.bg-dark-custom {
  background-color: var(--dark);
  color: var(--white);
}

.bg-light-custom {
  background-color: var(--light);
}

.btn-primary-custom:hover {
  background-color: var(--primary-hover);
  color: var(--white);
}

.btn-secondary-custom:hover {
  background-color: var(--secondary-hover);
}

.btn-tertiary-custom:hover {
  background-color: var(--tertiary-hover);
  color: var(--white);
}

.navbar .nav-item.active, .navbar .nav-item:hover {
  border-bottom: 2px solid var(--primary);
}

.modal .modal-header, .modal .modal-footer {
  background-color: var(--primary);
  color: var(--white);
}

.about hr, .news hr, .struktur-himpunan hr {
  border-bottom: 3px solid var(--white);
  width: 30%;
}

.nav-link {
  color: var(--white);
}

.nav-link.active {
  background-color: var(--tertiary) !important;
  color: var(--white) !important;
}

.nav-link:hover {
  color: var(--white);
}

.struktur-himpunan .wrapper {
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
}

.struktur-himpunan .cardWrapper {
  display: flex;
  flex-wrap: nowrap;
  transform: translateZ(0);
  overflow: visible;
}

.struktur-himpunan .card {
  background-color: var(--dark);
  border-radius: 18px;
  width: 200px;
  margin: 8px;
}

.struktur-himpunan .card-overlay {
  position: relative;
  transition: transform .1s ease-in-out;
  padding: 8px;
}

.struktur-himpunan .card-overlay img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  border-radius: 12px;
}

.struktur-himpunan .card-overlay .card-img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

.struktur-himpunan .card .card-img-overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.struktur-himpunan .card-overlay .card-img-overlay .card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.struktur-himpunan .card ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.struktur-himpunan .card ul li {
  list-style: none;
}

.struktur-himpunan .card ul li a {
  color: var(--light);
}

.struktur-himpunan .card ul li a .fab, .struktur-himpunan .card ul li a .far, .struktur-himpunan .card ul li a .fas {
  font-size: 24px;
}

.struktur-himpunan .card ul li a:hover .fas, .struktur-himpunan .card ul li a:hover .fab {
  transform: scale(1.1);
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  position: relative;
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

footer ul li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration:none;
}

footer ul li a .fab, footer ul li a .far, footer ul li a .fas {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 24px;
  color: #262626;
  transition: .5s;
}

footer ul li:nth-child(1) a:hover .fas {
  color: #6d6c6c;
}

footer ul li:nth-child(2) a:hover .fab {
  color: #e4405f;
}

footer ul li:nth-child(3) a:hover .fab {
  color: #00B300;
}

footer ul li:nth-child(4) a:hover .fab {
  color: #00aced;
}

@media only screen and (max-width: 992px) {
  #serum .row {
    text-align: center;
  }

  #serum img {
    margin-bottom: 3vh;
  }
}