@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --white: hsl(0, 0%, 100%);
  --dark: hsl(201, 24%, 14%);
  --light: hsl(210, 15%, 95%);
  --primary: hsl(207, 71%, 45%);
  --secondary: hsl(206, 91%, 87%);
  --tertiary: hsl(29, 98%, 50%);
  --dark-hover: hsl(201, 24%, 9%);
  --light-hover: hsl(210, 15%, 90%);
  --primary-hover: hsl(207, 71%, 40%);
  --secondary-hover: hsl(206, 91%, 82%);
  --tertiary-hover: hsl(29, 98%, 45%);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--light);
  transition: background-color 500ms, color 500ms;
}

.text-white-custom {
  color: var(--white) !important;
}

.bg-primary-custom,
.btn-primary-custom {
  background-color: var(--primary) !important;
  color: var(--white) !important;
}

.bg-secondary-custom,
.btn-secondary-custom {
  background-color: var(--secondary) !important;
}

.bg-tertiary-custom,
.btn-tertiary-custom {
  background-color: var(--tertiary) !important;
  color: var(--white) !important;
}

.bg-dark-custom,
.btn-dark-custom {
  background-color: var(--dark) !important;
  color: var(--white) !important;
}

.bg-light-custom,
.btn-light-custom {
  background-color: var(--light) !important;
}

.btn-primary-custom:hover {
  background-color: var(--primary-hover) !important;
  color: var(--white) !important;
}

.btn-secondary-custom:hover {
  background-color: var(--secondary-hover) !important;
}

.btn-tertiary-custom:hover {
  background-color: var(--tertiary-hover) !important;
  color: var(--white) !important;
}

.btn-dark-custom:hover {
  background-color: var(--dark-hover) !important;
  color: var(--white) !important;
}

.btn-light-custom:hover {
  background-color: var(--light-hover) !important;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: linear-gradient(145deg, rgba(30, 109, 174, 1) 50%, rgba(167, 215, 251, 1) 200%);
  display: grid;
}

.preloader .loading {
  margin: auto;
  animation: loader 2s infinite ease;
}

.preloader img {
  background-color: rgba(27, 38, 44, .5);
  box-shadow: 0 3px 1rem rgba(0, 0, 0, .2);
  border-radius: 20px;
  padding: 18px;
}

@keyframes loader {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

main {
  padding-top: 10vh;
}

a {
  color: var(--dark) !important;
  transition: color 500ms;
}

.navbar {
  background-color: var(--light);
  box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
}

/* .navbar .nav-link {
  border: 2px solid transparent;
}

.navbar .nav-link:hover {
  border-bottom: 2px solid var(--tertiary);
  color: var(--tertiary) !important;
} */

.navbar .btn {
  font-size: 18px;
  border-radius: 10px;
  transition: color 500ms;
}

.navbar .btn:hover {
  background-color: var(--light-hover);
}

.navbar .btn-dark-mode:hover {
  background-color: var(--dark-hover);
}

.switch-wrapper {
  position: relative;
}

.sun,
.moon {
  width: fit-content;
  height: fit-content;
}

.moon {
  position: absolute;
  top: 6px;
}

.moon-logo {
  opacity: 0;
  color: var(--light);
  transform: translateY(20%) rotateZ(50deg);
  transition: all 300ms;
}

.sun-logo {
  opacity: 1;
  color: var(--dark);
  transform: translateY(0) rotateZ(0deg);
  transition: all 300ms;
}

.animate-sun {
  opacity: 0;
  transform: translateY(20%) rotateZ(100deg);
}

.animate-moon {
  opacity: 1;
  transform: translateY(0%) rotateZ(0deg);
}

.modal .modal-header,
.modal .modal-footer {
  background-color: var(--primary);
  color: var(--white);
}

.jumbotron {
  padding: 15vh 0;
  transition: background-color 500ms;
}

.about hr,
.news hr,
.media-partner hr,
.struktur-himpunan hr {
  border-bottom: 3px solid;
  width: 310px;
}

.nav-tabs {
  border-bottom: 1px solid;
}

.nav-tabs .nav-link:hover {
  color: var(--tertiary) !important;
}

.nav-tabs .nav-link.active {
  background-color: var(--tertiary) !important;
  color: var(--white) !important;
}

.navWrapper .nav-link.active {
  background-color: var(--tertiary) !important;
  color: var(--white) !important;
}

.struktur-himpunan .navWrapper {
  background-color: var(--light);
  border-radius: 10px;
  transition: background-color 500ms;
}

.struktur-himpunan .contentWrapper {
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
}

.struktur-himpunan .cardWrapper {
  display: flex;
  flex-wrap: nowrap;
  transform: translateZ(0);
  overflow: visible;
  border-radius: 10px;
}

.struktur-himpunan .card {
  border-radius: 18px;
  width: 200px;
  margin: 8px;
  background-color: var(--light);
  transition: background-color 500ms;
}

.struktur-himpunan .card-overlay {
  position: relative;
  transition: transform .1s ease-in-out;
  padding: 8px;
}

.struktur-himpunan .card-overlay img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  border-radius: 12px;
}

.struktur-himpunan .card-overlay .card-img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

.struktur-himpunan .card .card-img-overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.struktur-himpunan .card-overlay .card-img-overlay .card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.struktur-himpunan .card ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.struktur-himpunan .card ul li {
  list-style: none;
}

.struktur-himpunan .card ul li a {
  color: var(--light);
}

.struktur-himpunan .card ul li a .fab,
.struktur-himpunan .card ul li a .far,
.struktur-himpunan .card ul li a .fas {
  font-size: 24px;
}

.struktur-himpunan .card ul li a:hover .fas,
.struktur-himpunan .card ul li a:hover .fab {
  transform: scale(1.1);
}

footer hr,
.contact hr {
  border-bottom: 1px solid;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  position: relative;
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

footer ul li a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

footer ul li a .fab,
footer ul li a .far,
footer ul li a .fas {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 24px;
  color: #262626;
  transition: .5s;
}

footer ul li:nth-child(1) a:hover .fas {
  color: #6d6c6c;
}

footer ul li:nth-child(2) a:hover .fab {
  color: #e4405f;
}

footer ul li:nth-child(3) a:hover .fab {
  color: #00B300;
}

footer ul li:nth-child(4) a:hover .fab {
  color: #00aced;
}

.nav-menu {
  border-right: 2px solid;
}

@media only screen and (max-width: 992px) {
  #serum .row {
    text-align: center;
  }

  #serum img {
    margin-bottom: 3vh;
  }

  footer {
    margin-top: 32px;
  }
}

@media only screen and (max-width: 576px) {
  .bg-menu-dark {
    background-color: rgba(44, 60, 70, .8) !important;
  }

  .carousel-img-container {
    height: 50vh;
  }

  .carousel-img-container img {
    height: 100%;
    object-fit: cover;
  }

  .nav-menu {
    position: fixed;
    bottom: 22px;
    left: 50%;
    transform: translate(-50%);
    height: 6rem;
    background-color: rgba(225, 227, 230, 0.8);
    backdrop-filter: blur(6px);
    padding: 12px;
    border-radius: 20px;
    border: none;
    min-width: 90%;
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-menu .btn {
    font-size: 28px;
  }

  footer {
    padding-bottom: 18vh;
  }
}